{%- extends "base.html" %}
{%- block title %}Docker sandbox escape{% endblock %}
{%- block challenges_menu %}active{% endblock %}
{%- block content %}
    <div class="jumbotron" style="margin-bottom: 0px;">
        <h2>Challenges</h2>
        <hr>
        <div class="row">
                {%- if challenges %}
                    {%- for challenge_name, challenge in challenges.items() %}
            <div class="col-sm-4">
                <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ challenge.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ challenge.subtitle }}</h6>
                        <p class="card-text">{{ challenge.description }}</p>
                        <a href="/challenges/{{ challenge_name }}" class="btn btn-dark btn-lg active center-block" role="button" aria-pressed="true">Exploit</a>
                    </div>
                </div>
            </div>
                    {%- endfor %}
                {%- endif %}
        </div>
    </div>
{%- endblock %}