{%- extends "base.html" %}
{%- block title %}Docker sandbox escape{% endblock %}
{%- block home_menu %}active{% endblock %}
{%- block content %}
    <div class="jumbotron" style="margin-bottom: 0px;">
        <h1 class="display-4">Container escape</h1>
        <p class="lead">This is a simple project that provides you challenges which will teach you about containers and containerization secuirty</p>
        <hr class="my-4">
        <p>Every container for a given challange is run inside another container. You can check out source code of page and Dockerfiles <a href="https://github.com/Billith/container-escape">here</a>.</p>
        <a class="btn btn-primary btn-dark" href="/challenges" role="button">Pwn some containers</a>
    </div>
    {%- with messages = get_flashed_messages() %}
        {%- if messages %}
            {%- for msg in messages %}
                <p>{{ msg }}</p>
            {%- endfor %}
        {%- endif %}
    {%- endwith %}
{%- endblock %}