{%- extends "base.html" %}
{%- block title %}Docker sandbox escape{% endblock %}
{%- block home_menu %}active{% endblock %}
{%- block content %}
    <div class="jumbotron" style="margin-bottom: 0px;">
        <h1 class="display-4">Container escape</h1>
        <p class="lead">This is a simple project provides you challenges that will teach you about containers, their secuirty and the ways that you can escape from them</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-dark" href="/challenges" role="button">Try it yourself</a>
    </div>
    {%- with messages = get_flashed_messages() %}
        {%- if messages %}
            {%- for msg in messages %}
                <p>{{ msg }}</p>
            {%- endfor %}
        {%- endif %}
    {%- endwith %}
{%- endblock %}